telebot
openai==0.28
requests
fake-useragent
user-agent
pycountry
beautifulsoup4
faker
apscheduler
pytz
duckduckgo_search
stripe
gtts
google-generativeai
anthropic
azure-ai-inference
azure-core
python-dotenv
